<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560449752-3fd4bdbe7df0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Flats</h1>
    <p>Authentic experiences</p>
    <%= link_to 'Add your flat', new_flat_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="cards">
  <% @flats.each do |flat| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= link_to flat.name, flat_path(flat) %></h2>
        <% if policy(flat).edit? %>
        <h2><%= link_to 'Edit Flat', edit_flat_path(flat), class: "btn btn-primary" %></h2>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
