<%= render 'photo_check', flat: @flat %>
<h2><%= @flat.name %></h2>
<p><%= @flat.address %></p>
<p>$<%= @flat.price %></p>
<p>Not available in the following dates:</p>
<ul>
  <li>
    <% @flat.reservations.each do |reservation| %>
    <p><%= reservation.start_date %> to <%= reservation.end_date %></p>
    <% end %>
  </li>
</ul>

<br>
<%= link_to 'Make a reservation', new_flat_reservation_path(@flat), class: "btn btn-primary" %>
<% if policy(@flat).edit? %>
<%= link_to 'Edit your Flat', edit_flat_path(@flat), class: "btn btn-primary" %>
<% end %>
<% if policy(@flat).destroy? %>
<%= link_to 'Delete Flat', flats_path(@flat), method: :delete, class: "btn btn-primary" %>
<% end %>
<%= link_to 'Go back', flats_path, class: "btn btn-primary" %>
